.pageButton {
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 4px;
    min-width: 100px;
}

.pageButton:disabled {
    cursor: default;
}

.pageButtons {
    display: flex;
    gap: 12px;
}