.searchBlock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    max-width: fit-content;
}

.charactersCount {
    font-family: "Montserrat";
    padding-left: 39px;
    align-self: flex-start;
}